<!doctype html>
<html>

<head>
  <!-- Place your kit's code here -->
  <script src="https://kit.fontawesome.com/c193a93be3.js" crossorigin="anonymous"></script>
  style
        include ../static/index.css
  <title>welcome</title>
</head>

<body>
<form action="/" methode = "POST">
  <div id="container" >
    <h1 class="center"><i class="fa fa-users"></i></h1>
    <div class="center" class="btn">
      <button id="Log In" ><a  href = "/Submit.pug">Submit your data</a></button>
      <button id="Register"><a href = "/Add.pug">Your Data</a></button>
    </div>
  </div>
  </form>
</body>

</html>