*{
    padding: 0px;
    margin: 0px;
}
/* for background */
body{
    background: url(../static/bg.jpg) no-repeat center center fixed;
    background-size: cover;
}
/* about container */
#container{
    width: 50%;
    position: absolute;
    top: 40%;
    left: 20%;
}
#container h1{
    font-size: 45px;
    padding: 13px 0px;
}
/* for box elements */
#container .box {
    width: 80%;
    height: 40px;
    margin: 0px auto;
    margin-bottom: 20px;
}
.box input{
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    outline: none;
}
/* final page ke liye  */
#container1{
    width: 40%;
    position: absolute;
    top: 45%;
    left: 30%;
    height: 60px;
}
#container1 .box1 {
    width: 70%;
    height: 38px;
    margin: 0px auto;
    margin-bottom: 15px;
}
#container1  input{
    text-align: center;
    height: 30px;
    border-radius: 15px;
    font-size: 22px;
}
/* this all are the things which i am going to apply everywhere */
.center{
    text-align: center;
    width: 100%;
    height: 100%;
}
button{
    border: none;
    width: 100px;
    height: 50px;
    margin-bottom: 5px;
    margin-right: 15px;
    font-size: 20px;
    font-weight: bolder;
    border-radius: 10px;
    cursor: pointer;
    outline: none;
}
form button{
    border: none;
    width: 200px;
    height: 50px;
    margin-bottom: 5px;
    margin-right: 25px;
    margin-left: 24px;
    font-size: 20px;
    font-weight: bolder;
    border-radius: 10px;
    cursor: pointer;
    outline: none;
}
a{
    text-decoration: none;
}
h4{
    display: inline;
}